<div class="row">
  <div class="col-xs-12">
    <img
      [src]="arrivedrecipe.imagepath"
      alt="{{arrivedrecipe.Recipename}}"
      class="img-fluid">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1> {{arrivedrecipe.Recipename}}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group dropright mt-4 mb-3" appDropDown role="group">
      <button
        id="btnGroupDrop1"
        type="button"
        class="btn btn-primary dropdown-toggle"
      >
        Manage <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a (click)="Onsendingredients()" class="dropdown-item" style="cursor: pointer;"> To Shopping list</a></li>
        <li><a
          style="cursor: pointer;"
          class="dropdown-item"
          [routerLink]= "['edit']">
            Edit Recipe
          </a></li>
        <li><a style="cursor: pointer;" class="dropdown-item" (click)="deleterecipe()"> Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{arrivedrecipe.description}}
  </div>
</div>
<div class="row">
  <div class="col-12">
    <ul class="list-group mt-3">
      <li class="list-group-item mb-2" *ngFor="let ingred of arrivedrecipe.ingredient">
        {{ingred.ingredname}} - {{ingred.amount}}
      </li>
    </ul>
  </div>
</div>
